In [1]:
    #from sklearn.model_selection import train_test_split
#from sklearn.model_selection import ParameterGrid

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import IsolationForest

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor, plot_tree

#from sklearn_pandas import DataFrameMapper
from sklearn.compose import ColumnTransformer

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import make_pipeline, Pipeline

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
#from sklearn.metrics import PredictionErrorDisplay

from sklearn.decomposition import PCA

#from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV, train_test_split

from tqdm import tqdm

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats
import datetime
import seaborn as sns
sns.set_palette('muted')
sns.set_color_codes('muted')
sns.set_style('white')

import warnings
warnings.filterwarnings('ignore')

from statsmodels.graphics.mosaicplot import mosaic
pd.set_option('display.max_columns', 70)

In [2]:
df_yandex_and_others = pd.read_csv('df_yandex_cian_metro_population.csv')

In [3]:
df_yandex_and_others.shape

(7755, 99)

In [4]:
transport = ['metro_count', 'total_metro_neighbour_and_hex']
unique_attraction_points = ['subcategory_Кинотеатры_count', 'subcategory_Торговые центры_count', 'subcategory_Музеи_count',
                            'subcategory_Парки культуры и отдыха_count']

work_study_related_objects = [ 'subcategory_Вузы_count', 'subcategory_Бизнес-центры_count', 'subcategory_Общежития_count',
                               'subcategory_Колледжи_count', 'subcategory_Производственные предприятия_count']

stops_auto_and_bus = ['subcategory_Автостоянки и паркинги_count'] #add bus stops

In [5]:
df_yandex_and_others.head(5)

,h3_9_yandex,category_Авто _count,category_Безопасность _count,category_Бизнес _count,category_Государство _count,category_Домашние животные _count,category_Дом и интерьер _count,category_Еда и напитки _count,category_Компьютеры и интернет _count,category_Красота и здоровье _count,category_Культура и искусство _count,category_Кинотеатры_count,category_Магазины _count,category_Торговые центры_count,category_Медицина и фармацевтика _count,category_Больницы_count,category_Наука и образование _count,category_Детские сады_count,category_Вузы_count,category_Недвижимость _count,category_Бизнес-центры_count,category_Общежития_count,category_Общество _count,category_Одежда и мода _count,category_Музеи_count,category_Отдых и развлечения _count,category_Зоопарки_count,category_Дельфинарии и океанариумы_count,category_Развлекательные центры_count,category_Производство и поставки _count,category_Реклама и полиграфия _count,category_Спорт и фитнес _count,category_Справочно-информационные системы _count,category_Средства массовой информации _count,category_Строительство и ремонт _count,...,subcategory_Бизнес-центры_count,subcategory_Общежития_count,subcategory_Музеи_count,subcategory_Зоопарки_count,subcategory_Дельфинарии и океанариумы_count,subcategory_Развлекательные центры_count,subcategory_Железнодорожные вокзалы_count,subcategory_Автовокзалы_count,subcategory_Аэропорты_count,subcategory_Гостиницы_count,subcategory_Автостоянки и паркинги_count,subcategory_Бесплатные парковки_count,subcategory_Парковки_count,subcategory_Платные парковки_count,subcategory_Подземные парковки_count,subcategory_Поликлиники_count,subcategory_Гимназии_count,subcategory_Колледжи_count,subcategory_Лицеи_count,subcategory_Общеобразовательные школы_count,subcategory_Планетарии_count,subcategory_Парки аттракционов_count,subcategory_Парки культуры и отдыха_count,subcategory_Производственные предприятия_count,population_sum,metro_count,total_metro_neighbour_5_hn,total_metro_neighbour_and_hex,cian_Количество объявлений,cian_Общая площадь,cian_Средняя площадь,cian_Мода площадь,cian_Средняя цена,cian_Средняя цена/м2,cian_Мода цена/м2
0,89110610b7bffff,22,1,3,0,0,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,5,0,1,0,0,17,...,0,0,0,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,2,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89110610b97ffff,40,1,8,0,9,7,20,8,59,3,0,7,0,9,0,1,0,0,0,0,0,0,2,0,4,1,0,1,0,1,8,0,0,0,...,0,0,0,1,0,1,0,0,0,0,3,0,2,0,0,0,0,0,0,0,0,0,0,0,1950.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,89110610b13ffff,41,3,0,0,0,0,2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89110610b2bffff,35,4,4,0,6,1,5,6,1,0,0,6,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,2,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0,6,5,6,5,5,0,0,0,0,0,0,0,0,0,540.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,89110610c23ffff,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**выбираем только нужные гексы**

In [26]:
df_adm_distr = pd.read_csv('/Users/elysi/Tele2_project/new_diploma_wave/df_adm_distr.csv')

In [27]:
df_tracks_spb_aggregated_final.to_csv('/Users/elysi/Tele2_project/new_diploma_wave/df_time_based_features_full.csv', index=False)

NameError: name 'df_tracks_spb_aggregated_final' is not defined

**Reaggregation of cian variables**

In [8]:
df_cian = df_yandex_and_others.filter(regex = 'cian|h3_9_yandex')
df_cian.shape

(7755, 8)

In [11]:
df_cian = df_cian.rename(columns={
    'h3_9_yandex': 'h3_9_yandex',
    'cian_Количество объявлений': 'cian_listing_count',
    'cian_Общая площадь': 'cian_total_area',
    'cian_Средняя площадь': 'cian_avg_area',
    'cian_Мода площадь': 'cian_mode_area',
    'cian_Средняя цена': 'cian_avg_price',
    'cian_Средняя цена/м2': 'cian_avg_price_per_m2',
    'cian_Мода цена/м2': 'cian_mode_price_per_m2'
})

In [12]:
df_cian.head(5)

,h3_9_yandex,cian_listing_count,cian_total_area,cian_avg_area,cian_mode_area,cian_avg_price,cian_avg_price_per_m2,cian_mode_price_per_m2
0,89110610b7bffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,89110610b97ffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,89110610b13ffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,89110610b2bffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,89110610c23ffff,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
import h3
from scipy import stats

def calculate_cian_aggregates_for_all(df, neighbors_hexes, h3_9_name='h3_9_yandex', listing_count_name='cian_listing_count', total_area_name='cian_total_area', mode_area_name='cian_mode_area', mode_price_per_m2_name='cian_mode_price_per_m2'):
    results = []
    
    for hex_id in df[h3_9_name]:
        neighbors = h3.k_ring(hex_id, neighbors_hexes)
        
        # Get data for neighbors including the hex itself
        neighbors_data_including_hex = df[df[h3_9_name].isin(neighbors)]
        
        # Exclude the hex itself for neighbors only
        neighbors.remove(hex_id)
        neighbors_data_excluding_hex = df[df[h3_9_name].isin(neighbors)]
        
        # Calculations including the hex itself
        total_listing_count_including_hex = neighbors_data_including_hex[listing_count_name].sum()
        total_area_including_hex = neighbors_data_including_hex[total_area_name].sum()
        mode_area_including_hex = neighbors_data_including_hex[mode_area_name].mode().iloc[0] if not neighbors_data_including_hex[mode_area_name].mode().empty else None
        mode_price_per_m2_including_hex = neighbors_data_including_hex[mode_price_per_m2_name].mode().iloc[0] if not neighbors_data_including_hex[mode_price_per_m2_name].mode().empty else None

        # Calculations excluding the hex itself
        total_listing_count_excluding_hex = neighbors_data_excluding_hex[listing_count_name].sum()
        total_area_excluding_hex = neighbors_data_excluding_hex[total_area_name].sum()
        mode_area_excluding_hex = neighbors_data_excluding_hex[mode_area_name].mode().iloc[0] if not neighbors_data_excluding_hex[mode_area_name].mode().empty else None
        mode_price_per_m2_excluding_hex = neighbors_data_excluding_hex[mode_price_per_m2_name].mode().iloc[0] if not neighbors_data_excluding_hex[mode_price_per_m2_name].mode().empty else None

        results.append({
            'hex_id': hex_id,
            'neighbor_count': len(neighbors),
            'total_listing_count_excluding_hex': total_listing_count_excluding_hex,
            'total_listing_count_including_hex': total_listing_count_including_hex,
            'total_area_excluding_hex': total_area_excluding_hex,
            'total_area_including_hex': total_area_including_hex,
            'mode_area_excluding_hex': mode_area_excluding_hex,
            'mode_area_including_hex': mode_area_including_hex,
            'mode_price_per_m2_excluding_hex': mode_price_per_m2_excluding_hex,
            'mode_price_per_m2_including_hex': mode_price_per_m2_including_hex
        })
    
    return pd.DataFrame(results)

In [17]:
%%time
neighbors_hexes = 2
df_cian_aggregated = calculate_cian_aggregates_for_all(df_cian, neighbors_hexes)

CPU times: total: 19.4 s
Wall time: 42.9 s

In [18]:
df_cian_aggregated.shape

(7755, 10)

In [19]:
df_cian_aggregated.head(3)

,hex_id,neighbor_count,total_listing_count_excluding_hex,total_listing_count_including_hex,total_area_excluding_hex,total_area_including_hex,mode_area_excluding_hex,mode_area_including_hex,mode_price_per_m2_excluding_hex,mode_price_per_m2_including_hex
0,89110610b7bffff,18,2.0,2.0,4830.0,4830.0,330.0,330.0,650.00,650.00
1,89110610b97ffff,18,2.0,2.0,163.8,163.8,80.5,80.5,1242.24,1242.24
2,89110610b13ffff,18,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [51]:
import h3
def calculate_fit_club_sums(hex_id, df, neighbors_hexes, h3_9_name, total_name):
    neighbors = h3.k_ring(hex_id, neighbors_hexes)
    # Including the hex itself in neighbors for the total_fit_clubs_neighbour_and_hex calculation
    total_neighbors = df[df[h3_9_name].isin(neighbors)][total_name].sum()
    # Exclude the hex itself for the total_fit_clubs_neighbour calculation
    neighbors.remove(hex_id)
    total_neighbors_excluding_hex = df[df[h3_9_name].isin(neighbors)][total_name].sum()
    return len(neighbors), total_neighbors_excluding_hex, total_neighbors

In [52]:
df_metro_agr_neghbors = df_metro_agr_updated.copy()

In [53]:
df_metro_agr_neghbors[['neighbour_amount', 'total_metro_neighbour_5_hn', 'total_metro_neighbour_and_hex']] = \
    df_metro_agr_neghbors.apply(lambda row: calculate_fit_club_sums(row['h3_9_metro'], df_metro_agr_neghbors,
                                                                    neighbors_hexes = 4, h3_9_name = 'h3_9_metro',
                                                                    total_name = 'metro_count'),
                                axis=1, result_type='expand')

In [54]:
df_metro_agr_neghbors.shape

(7755, 5)